$white: white;
$darkerWhite: #c9c4bf;
$beige: #a28f61;

@mixin link($color) {
    color: $color;
    text-decoration: none;
}

@mixin fontsize($rem) {
    font-size: $rem;
}

@mixin padding($rem) {
    padding:$rem;
}

* {
    list-style-type: none;
}

.fa {
    @include fontsize(2rem);
}

header {
    background-color: #281400;
    color: $white;

    nav {
        ul {
            display: flex;
            justify-content: space-around;
            li {
                a, a:hover, a:visited, a:focus {
                    @include link(#c9c4bf);
                    @include fontsize(2rem);
                }
            }
        }
    }
    i {
        color: $darkerWhite;
        float: right;
        @include fontsize(5rem);
        // display: inline-block;
    }
    #headerContent {
        text-align: center;
        @include padding(20rem);
            h1, h2 {
                @include fontsize(5rem);
            }
            button {
                background-color: $beige;
                @include padding(1rem);
                border-radius: 3px;
                border: none;
            }
    }
}
