$white: white;
$darkerWhite: #c9c4bf;
$beige: #a28f61;
@mixin link($color) {
    color: $color;
    text-decoration: none;
}
@mixin fontsize($size) {
    font-size: $size;
}
@mixin padding($size) {
    padding: $size;
}
@mixin margin($size) {
    margin: $size;
}

* {
    list-style-type: none;
}



.fa {
    @include fontsize(1.5em);
    display: inline-block;
}

header {
    background-color: #281400;
    color: $white;

    nav {
        text-align: center;
        margin-left: 5em;
        ul {
            display: flex;
            justify-content: space-around;
            width: 25em;
            margin: auto;

            li {
                a,
                a:focus,
                a:hover,
                a:visited {
                    @include link(#c9c4bf);
                    @include fontsize(2rem);
                }
            }
        }
    }

    i {
        color: $darkerWhite;
        float: right;
    }

    #headerContent {
        text-align: center;
        @include padding(20rem);

        h1,
        h2 {
            @include fontsize(5rem);
        }

        button {
            background-color: $beige;
            @include padding(1rem);
            @include margin (1em);
            border-radius: 3px;
            border: none;
            width: 30rem;
        }
    }
}

main {
    background-color: #F7F7F7;

    article {
        margin: 1em 0;
        section {
            background-color: $white;
            width: 92%;
            border: 1px solid lightgrey;

            h2 {
                @include fontsize(0.9em)
            }

            p:first-of-type {
                color: grey;
            }

            p {
                color: black;
                @include fontsize(0.9em)
            }
        }
    }
    .buy {
        a,
        a:focus,
        a:hover,
        a:visited {
            @include link($beige);
        }
    }

    .onsale {
        a,
        a:focus,
        a:hover,
        a:visited {
            @include link(orange);
        }
    }

    .soldout {
        a,
        a:focus,
        a:hover,
        a:visited {
            @include link(grey);
        }
    }
}

footer {
    background-color: #0f3e57;
    h3 {
        color: $white;
    }
    ul {
        padding: 0;
        li {
            color: $darkerWhite;
            p {
                display: inline-block;
            }
        }
    }
    a,
    a:focus,
    a:hover,
    a:visited {
        @include link($darkerWhite);
    }
}
